{
    "db_dialect": "mysql",
    "db_host": "localhost",
    "db_port": "3306",
    "db_username": "root",
    "db_password": "root",
    "db_database": "gubot",

    "use_redis": true,
    "redis_host": "localhost",
    "redis_port": 6379,

    "use_websocket": true,
    "websocket_url": "ws://192.168.1.139:8890",

    "use_http_post": false,
    "http_post_port": 8891
}