{
    "database": {
        "dialect": "mysql",
        "host": "localhost",
        "port": 3306,
        "username": "root",
        "password": "root",
        "database": "gubot",
        "logging": false
    },
    "redis": {
        "enable": true,
        "host": "localhost",
        "port": 6379
    },
    "websocket_server": {
        "enable": true,
        "port": 8080,
        "access_token": "access_token"
    },
    "puppeteer": {
        "enable": true
    },

    "jx3tuilan_baseurl": "",
    "jx3api_baseurl": "https://jx3api.com/app/",
    "jx3api_websocket_url": "wss://socket.nicemoe.cn",
    
    "tecent_nlp_chat_appid": "",
    "tecent_nlp_chat_appkey": ""
}