{
    "database": {
        "dialect": "mysql",
        "host": "localhost",
        "port": "3306",
        "username": "root",
        "password": "root",
        "database": "gubot",
        "logging": false
    },
    "redis": {
        "enable": true,
        "host": "localhost",
        "port": 6379
    },
    "cqhttp_websockets": [
        {
            "name": "一号机",
            "qq": "1961681139",
            "url": "ws://192.168.1.139:8890",
            "access_token": "pi3.14159"
        }
    ],
    "enable_puppeteer": false,

    "agree_group_invite": true,
    "agree_friend_invite": true,

    "jx3tuilan_baseurl": "",
    "jx3api_baseurl": "https://jx3api.com/app/",
    "jx3api_websocket_url": "wss://socket.nicemoe.cn",
    
    "tecent_nlp_chat_appid": "",
    "tecent_nlp_chat_appkey": ""
}