<div id="template">
    <h2>咕Bot - 云端宏查询</h2>
    <div class="macro-info">
        <p><strong>{{ game_version }} - {{ xf }}</strong></p>
        <p>作者【<strong>{{ author }}</strong>】</p>
        {{if rank < 1}}
        <p><strong>JX3BOX - 当前版本编辑推荐</strong></p>
        {{else}}
        <p>JX3BOX心法排行榜<strong> 30</strong> 天内同步次数第 <strong>{{ rank }}</strong></p>
        {{/if}}
    </div>
    <div class="macro-content">
        <hr>
        <p>{{each macro}}</p>
        <ul>
            <li>
                云端宏： <strong>{{ $value.name }}</strong>
            </li>
            {{if $value.qixue}}
            <li>
                奇穴： <strong>{{ $value.qixue }}</strong>
            </li>
            {{/if}}
            {{if $value.speed}}
            <li>
               加速： <strong>{{ $value.speed }}</strong>
            </li>
            {{/if}}
            {{if $value.remark}}
            <li>
                备注：{{ $value.remark }}
            </li>
            {{/if}}
            <li>
                宏内容：
                <pre><code>{{ $value.content }}</code></pre>
            </li>
        </ul>
        <hr>
        <p>{{/each}}</p>
    </div>
    <div class="macro-attention">
        <p>需要同步的云端宏在该图片的后面</p>
        <p>请在茗伊插件集打开云端宏按钮显示之后在宏界面同步云端宏</p>
        <p>以上内容全部来自<span class="stress">jx3box</span>，机器人只是一个无情的搬运工</p>
        本机器人是开源免费的机器人，有需要请加群<span class="stress">116523057</span>获取
    </div>
</div>
<style>
    #template {
        padding: 0.6rem;
    }
    body{
        background-color: cornsilk;
        width: 36rem;
        color:dodgerblue;
        font-family: 'Noto Sans SC', sans-serif, 'consolas';
    }
    h2, .macro-info, .macro-attention{
        text-align: center;
    }
    .macro-info p,.macro-attention p{
        margin-bottom: 0;
        margin-top: 0.1rem;
    }
    p.note{
        font-size: 0.9rem;
        color: skyblue;
        text-align: center;
    }
    .stress{
        font-weight: bold;
    }
</style>
