<div id="template">
    <h2>咕Bot - 云端宏查询</h2>
    <div class="macro-info">
        <p><strong>{{ game_version }} - {{ xf }}</strong></p>
        <p>作者【<strong>{{ author }}</strong>】</p>
        <p>JX3BOX心法排行榜<strong> 30</strong> 天内同步次数第 <strong>{{ rank }}</strong></p>
    </div>
    <div class="macro-content">
        <hr>
        <p>{{each macro}}</p>
        <ul>
            <li>
                云端宏： <strong>{{ $value.name }}</strong>
            </li>
            {{if $value.qixue}}
            <li>
                奇穴： <strong>{{ $value.qixue }}</strong>
            </li>
            {{/if}}
            {{if $value.speed}}
            <li>
               加速： <strong>{{ $value.speed }}</strong>
            </li>
            {{/if}}
            {{if $value.remark}}
            <li>
                备注：{{ $value.remark }}
            </li>
            {{/if}}
            <li>
                宏内容：
                <pre><code>{{ $value.content }}</code></pre>
            </li>
        </ul>
        <hr>
        <p>{{/each}}</p>
    </div>
    <div class="macro-attention">
            <p>需要同步的云端宏在该图片的后面</p>
            <p>请在茗伊插件集打开云端宏按钮显示之后在宏界面同步云端宏</p>
            <p>以上内容全部来自jx3box，机器人只是一个无情的搬运工</p>
            <p>该文章请到此处查看：<a href="www.jx3box.com/macro/?pid=20123">www.jx3box.com/macro/?pid=20123</a></p>
        
    </div>
    <hr>
    <p class="note">
        数据来源<span class="stress">jx3box.com</span><br />
        本机器人是免费的机器人，有需要直接加好友拉进群即可
    </p>
</div>
<style>
    #template {
        padding: 0.6rem;
    }
    body{
        background-color: cornsilk;
        width: 36rem;
        color:dodgerblue;
        font-family: 'Noto Sans SC', sans-serif, 'consolas';
    }
    h2, .macro-info, .macro-attention{
        text-align: center;
    }
    .macro-info p,.macro-attention p{
        margin-bottom: 0;
        margin-top: 0.1rem;
    }
    p.note{
        font-size: 0.8rem;
        color: skyblue;
        text-align: center;
    }
</style>
