<style>
    body{
        background-color: cornsilk;
        width: 800px;
        color:dodgerblue;
        font-family: 'Noto Sans SC', sans-serif, 'consolas';
        text-align: center;
    }
    span.stress{
        color: hotpink;
        font-weight: bold;
    }
    table{
        display: inline-block;
        font-size: 1rem;
    }
    td{
        text-align: center;
    }
    td:nth-of-type(1) {
        width: 6rem;
    }
    td:nth-of-type(2) {
        width: 12rem;
    }
    td:nth-of-type(3) {
        width: 6rem;
    }
    td:nth-of-type(4) {
        width: 8rem;
    }
    td:nth-of-type(5) {
        width: 14rem;
    }
    p.note{
        font-size: 0.8rem;
        color: skyblue;
    }
</style>
<div>
    <h3>Gubot 奇遇查询</h3>
    <p>查询条件：<span class="stress">{{search.server}}</span> <span class="stress">{{search.player}}</span> <span class="stress">{{search.serendipity}}</span></p>
    <table>
        <thead>
            <tr>
                <th>服务器</th>
                <th>触发角色</th>
                <th>奇遇类型</th>
                <th>奇遇名称</th>
                <th>触发时间</th>
            </tr>
        </thead>
        <tbody>
            {{each datas}}
            <tr>
                <td>{{ $value.server }}</td>
                <td>{{ $value.player }}</td>
                <td>{{ $value.type }}</td>
                <td>{{ $value.name }}</td>
                <td>{{ $value.time }}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <p class="note">
        数据来源<span class="stress">{{dataSource}}</span> <br />
        数据获取时间<span class="stress">{{time}}</span> <br />
        本机器人是开源免费的机器人，有需要直接加好友拉进群即可
    </p>
</div>