<style>
    body{
        width: 812px;
    }
    #table{
        height: 560px;
        padding: 16px 24px;
    }
    #title{
        height: 80px;
        display: flex;
    }
    #title #left{
        display: inline-block;
        height: 100%;
        width: 60%;
    }
    #title #left h2{
        margin-top: 0;
        margin-bottom: .75rem;
    }
    #title #left p{
        text-align: right;
        padding-right: 1.75rem;
    }
    #title #right{
        vertical-align: top;
        display: inline-block;
        height: 100%;
        width: 39%;
    }
    #team{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        height: 488px;
        width: 752px;
    }
    .cell{
        width: 150px;
        height: 95px;
        border: 1px solid gray;
    }
    .cell p:first-of-type{
        padding-left: 0.75rem;
        padding-top: 0.3rem;
        margin: 0;
        font-size: 14px;
    }
    .cell p:first-of-type span:last-of-type{
        padding-right: 0.45rem;
        float: right;
    }
    .cell p:first-of-type span:last-of-type img{
        width: 24px;
        height: 24px;
    }
    .cell p:nth-of-type(2){
        padding-left: 0.75rem;
        padding-top: 0.3rem;
        margin: 0;
        font-size: 14px;
    }
    .cell p:nth-of-type(3){
        padding-left: 0.16rem;
        padding-top: 0.26rem;
        margin: 0;
    }
    .cell p:nth-of-type(3) img{
        width: 10px;
        height: 10px;
    }
</style>
<div id="table">
    <div id="title">
        <div id="left">
            <h2 id="name">({{ team_id }}){{ team_name }}<!-- 25人英雄范阳夜变 --></h2>
            <p><span style="font-weight: bold;">{{ time }}<!-- 2021-02-01 10:56:42 --></span></p>
        </div>
        <div id="right">
            {{ remarks }}<!-- 备注：这里写备注！！！ -->
        </div>  
    </div>
    <div id="team">
        <% for (var i = 0; i<cells.length; i++) { %>
            <div class="cell" {{if cells[i].color}} style="background-color: {{ cells[i].color }};" {{/if}}>
                <p>
                    <span>({{cells[i].id}}){{if cells[i].applicant.id}}{{cells[i].applicant.id}}{{else}}&nbsp;{{/if}}<!-- 秀秀不咕 --></span>
                    <span>{{if cells[i].xf}}<img src="https://img.jx3box.com/image/xf/{{ cells[i].xf }}.png" alt="{{ cells[i].xf }}">{{/if}}</span>
                </p>
                <p>{{if cells[i].applicant.qq}}{{cells[i].applicant.qq}}{{else}}-{{/if}}<!-- 3303928580 --></p>
                <p>
                    <% for(var j = 0; j < cells[i].xf_optional.length; j ++) { %>
                        <img src="https://img.jx3box.com/image/xf/{{ cells[i].xf_optional[j] }}.png" alt="{{ cells[i].xf_optional[j] }}">
                    <% } %>
                </p>
            </div>
        <% } %>
        <!-- <div class="cell" style="background-color: #FF7DADaa;">
            <p>
                <span>秀秀不咕</span>
                <span><img src="https://img.jx3box.com/image/xf/10081.png" alt="冰心"></span>
            </p>
            <p>3303928580</p>
            <p><img src="https://img.jx3box.com/image/xf/10081.png" alt="冰心"><img src="https://img.jx3box.com/image/xf/10175.png" alt="毒经"><img src="https://img.jx3box.com/image/xf/10175.png" alt="毒经"><img src="https://img.jx3box.com/image/xf/10175.png" alt="毒经"><img src="https://img.jx3box.com/image/xf/10175.png" alt="毒经"><img src="https://img.jx3box.com/image/xf/10175.png" alt="毒经"><img src="https://img.jx3box.com/image/xf/10175.png" alt="毒经"><img src="https://img.jx3box.com/image/xf/10175.png" alt="毒经"><img src="https://img.jx3box.com/image/xf/10175.png" alt="毒经"><img src="https://img.jx3box.com/image/xf/10175.png" alt="毒经"><img src="https://img.jx3box.com/image/xf/10175.png" alt="毒经"></p>
        </div> -->
    </div>
</div>
